main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #43bafe;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #205d81;
}
